h3 {
  border-bottom: 6px double #000;
}

table {
  border-collapse: collapse;
  width: 400px;
  font-size: 12px;
  margin: 20px;
  text-align: center;
}
table th {
  color: black;
  background-color: lightgray;
  padding: 10px;
}
table td {
  color: black;
  background-color: #F5F5F5;
  padding: 10px;
}

#apioutput {
  background-color: #F5F5F5;
}
